{% extends "karma_base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'karma/style.css' %}" />
<title>Committee view</title>
{% endblock %}

{% block content %}
{% if committeeSelected and tasks %}
        <table class="table table-striped">
            <tr>
                <th>name</th>
                <th>description</th>
                <th>karma</th>
                <th>comment</th>
                <th>date</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{task.getPerson}}</td>
                    <td>{{task.getTaskName}}</td>
                    <td>{{task.getTaskKarma}}</td>
                    <td>{{task.comment}}</td>
                    <td>{{task.time}}</td>
                </tr>
            {% endfor %}
        </table>
{% endif %}
{% endblock %}
