{% extends "karma_base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'karma/style.css' %}" />
<title>Committee view</title>
{% endblock %}


{% block navigation %}
{% if committees and committeeSelected %}
        <ul class="nav nav-tabs">
            <li><a href="{% url 'karma:index' %}">participants</a></li>
            {% for committee in committees %}
                {% if committee != committeeSelected %}
                    <li><a href="{% url 'karma:committeeView' committee.name %}">{{committee.name}}</a></li>
                {% else %}
                    <li class="active"><a href="{% url 'karma:committeeView' committee.name %}">{{committee.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
{% endif %}
{% endblock %}

{% block content %}
{% if committeeSelected and tasks %}
        <table class="table table-striped">
            <tr>
                <th>name</th>
                <th>description</th>
                <th>karma</th>
                <th>comment</th>
                <th>date</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{task.getPerson}}</td>
                    <td>{{task.getTaskName}}</td>
                    <td>{{task.getTaskKarma}}</td>
                    <td>{{task.comment}}</td>
                    <td>{{task.time}}</td>
                </tr>
            {% endfor %}
        </table>
{% endif %}
{% endblock %}