{% extends "base.html" %}
{% load staticfiles %}
{% block navigation %}
{% if committees %}
        <ul class="nav nav-tabs">
            <li><a href="{% url 'karma:index' %}">Participants</a></li>
            {% for committee in committees %}
                    <li><a href="{% url 'karma:committeeView' committee.name %}">{{committee.name}}</a></li>
            {% endfor %}
	    <li><a href="{% url 'logout' %}">Log out</a></li>
	    <li><a href="{% url 'passwd' %}">Change password</a></li>
        <li><a href="{% url 'karma:overviewstart' %}">Overview</a></li>
        <!--<li><a href="{% url 'karma:charts' %}">Charts</a></li>-->
        </ul>
{% endif %}
{% endblock %}
