{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" src="{% static 'karma/jquery-1.11.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'karma/Chart.js' %}"></script>
        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <span name="banner">
            <a href="{% url 'karma:karmaHome' %}"><img id="bannerimg" class="row" src="{% static 'img/wide.jpg' %}"></a>
        </span>
        {% block navigation %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>
